#!/bin/bash


export KEEPASS_TYPE=perso
export KEEPASS_FILE="/media/rdeville/DATASHURPRO/security/keepass/keyfile.gpg"
export KEEPASS_DB="/home/rdeville/perso/cloud_wolkli/perso_f.kdbx"

#export KEEPASS_TYPE=perso
#export KEEPASS_FILE="/home/rdeville/.ssh/ssh_rsa_public"
#export KEEPASS_DB="/home/rdeville/perso/temp_perso_f.kdbx"


